<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBML.Properties.Settings.PengRongToysConnectionString"
            connectionString="Data Source=APPLE-PC; Initial Catalog=PengRongToys; User Id=sa; Password=Lxb840726; Connect Timeout=15"
            providerName="System.Data.SqlClient" />
        <add name="DBML.Properties.Settings.ERPToysConnectionString"
            connectionString="Data Source=APPLE-PC;Initial Catalog=ERPToys;User ID=sa;Password=Lxb840726"
            providerName="System.Data.SqlClient" />
        <add name="DBML.Properties.Settings.ERPToysConnectionString1"
            connectionString="Data Source=BEN-PC;Initial Catalog=ERPToys;User ID=sa;Password=Lxb840726"
            providerName="System.Data.SqlClient" />
        <add name="DBML.Properties.Settings.ERPToysConnectionString2"
            connectionString="Data Source=.;Initial Catalog=ERPToys;User ID=sa;Password=Lxb840726"
            providerName="System.Data.SqlClient" />
        <add name="DBML.Properties.Settings.WMSConnectionString" connectionString="Data Source=.;Initial Catalog=WMS;User ID=sa;Password=Lxb840726"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>