<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ERPToysConnectionString"
            connectionString="FD9AC19704D75F0BEDA82B89E12DB135C77A6018B3DE1CD4395C4358DA0D039DFC8CA0CCD194AC38AD3A225B2A496462E785DCA0F75EB977A3C24A76FF9B618E071E887AC2C7148DF84344D36D7D2D9D54FFA447EB94A19655B820564730FE1EE4980EA9F745B7BB"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<appSettings>
  <add key="ApplicationName" value="USL.exe"/>
  <add key="License" value="F32AE69569ECD888683C258486A5F50045912FFBDA0D16AF"/>
  <add key="User" value="User"/>
  <add key="Company" value="汕头市澄海镇阳玩具厂"/>
  <add key="Contacts" value="地址:汕头市澄海区埔美工业区    电话:0754-85882431    传真:0754-85838397"/>
  <add key="Accounts" value="工行:6212 2620 0300 0681 470 张少锋\r\n建行:6222 8031 0021 1018 123 张少锋"/>
  <add key="SystemName" value="盘点管理系统"/>
  <add key="IndentBetweenGroups" value="60"/>
  <add key="ItemSize" value="70"/>
  <add key="LargeItemWidth" value="200"/>
  <add key="RowCount" value="8"/>
  <add key="ServerUrl" value="ftp://192.168.1.100/ERPToysPic/"/>
  <add key="UploadPath" value="ftp://192.168.1.100/ERPToysPic/"/>
  <add key="DownloadPath" value=""/>
  <add key="ServerUserName" value="FTPUser"/>
  <add key="ServerPassword" value="653912729BA3B9FAC09024F00C9A285E"/>
  <add key="ServerDomain" value=""/>
</appSettings>
    <userSettings>
        <USL.Properties.Settings>
            <setting name="职工" serializeAs="String">
                <value>None</value>
            </setting>
        </USL.Properties.Settings>
    </userSettings>
</configuration>