<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="WmsContext" connectionString="data source=.;initial catalog=WMS;user id=sa;password=Lxb840726;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
<appSettings>
  <add key="ApplicationName" value="USL.exe"/>
  <add key="License" value="FED62C1400F70AC3F0472A1AC55B607988A39FD123EF170F"/>
  <add key="User" value="User"/>
  <add key="Company" value="中国石油化工集团有限公司"/>
  <add key="Contacts" value="地址:湖南省市国道沿线城南加油站    电话:0754-85100000    传真:0754-85200000"/>
  <add key="Accounts" value=""/>
  <add key="SystemName" value="盘点管理系统"/>
  <add key="IndentBetweenGroups" value="60"/>
  <add key="ItemSize" value="70"/>
  <add key="LargeItemWidth" value="200"/>
  <add key="RowCount" value="8"/>
  <add key="ServerUrl" value="ftp://192.168.1.100/ERPToysPic/"/>
  <add key="UploadPath" value="ftp://192.168.1.100/ERPToysPic/"/>
  <add key="DownloadPath" value=""/>
  <add key="ServerUserName" value="FTPUser"/>
  <add key="ServerPassword" value="653912729BA3B9FAC09024F00C9A285E"/>
  <add key="ServerDomain" value=""/>
</appSettings>
    <userSettings>
        <USL.Properties.Settings>
            <setting name="职工" serializeAs="String">
                <value>None</value>
            </setting>
        </USL.Properties.Settings>
    </userSettings>
</configuration>